<div class="container" style="text-align:center; color: aliceblue; background-color: black;">
  <div>
      <h1>
        Welcome to {{ title }}!
      </h1><br><br><br><br>
      <div class="row">
        <div class="col-md-6" style="align-items: center; margin-left: 300px;">
      <h4>Hello! Welcome to my github search app!</h4><br><br><br><br>
    </div>
  </div>
    </div>
    <div class="app">
    <router-outlet></router-outlet>
    
    <!-- <app-user></app-user> -->
    
    </div>
  </div>
